exportPattern("^[[:alpha:]]+")
S3method(plot,PCGA)
S3method(plot,BTFS)
import(dplR)
importFrom("grDevices", "hsv")
importFrom("graphics", "arrows", "plot","locator","text","points","par","boxplot")
importFrom("stats", "dist", "prcomp","median","ecdf","pnorm","pf","lm")
